body{
    margin:0;
    top:0;
    padding: 0;
    background-color: black;
    color: white;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
ul{list-style: none;
background-color: rgb(141, 8, 141);
margin-right: 1300px;
margin-left:20px;
padding: 10px;
border-radius: 10px;
align-items: center;
}
#imagem{width: 150px;
margin: 0 auto;
margin-left: 10px;
margin-bottom: 10px;}
p{
    margin: 0 auto;
    width: 500px;
}

a{
    text-decoration: none;
    outline: none;
    color: white;
}
button{
    color: white;
    align-self: center;
    margin-left: 750px;
    background-color: rgb(141, 8, 141);
    border-radius: 10px;
    padding: 5px;
}
ol
{background-color: blue;
margin-left:20px;
margin-right: 1300px;
padding: 20px;
border-radius: 10px;
align-items: center;}

button:hover{
    transform: scale(1.2);
    transition: 2s;
}

#escolha{
background-color: blue;
margin-left:20px;
margin-right: 1300px;
padding: 2px;
border-radius: 10px;
align-items: center;

}