*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(11, 22, 51);
}

nav{
    background-color: rgb(1, 56, 76);

    display: flex;
    justify-content: space-around;

    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;

    padding: 1%;

    border-bottom: 8px solid  rgb(255, 217, 0);
}

#abas li a{
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    position: relative;       
    color: rgb(255, 217, 0);
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease;

}

#abas li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;               
    width: 0%;               
    height: 4px;
    background-color:rgb(255, 217, 0);
    opacity: 0.8;
    transition: width 0.4s ease;
}

#abas li a:hover::after {
    width: 100%;
}


ul{
    display: flex;
    justify-content: space-around;

    list-style-type: none;
}
li{
    margin: 15px;
}
li a{
    text-decoration: none;
    color:  rgb(255, 217, 0);
}

section{

    margin-top: 50px;
    color: white;

    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: space-around;

    height: 550px;

    margin-bottom: 50px;
}

header{
    width: 500px;
    text-align: left;

    top: 20%;
}

section div{
    padding: 10px;
    background-color: rgb(255, 236, 116);
    border-radius: 50px;
    margin: auto;
    width: 1400px;
}

#primeira-fileira{
    margin-bottom: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#segunda-fileira{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#terceira-fileira{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.me{
    border: 2px solid black;
}
.me:hover{
    animation: adivinhar 2s ease-in;
}
#nao-pode-beber:hover{
    animation: adivinhar2 2s ease-in;
}
@keyframes adivinhar{
    0%{transform: translateX(0px);}
    50%{transform: translateX(-550px);}
    100%{transform: translateX(0px);}
}
@keyframes adivinhar2{
    0%{transform: translateX(0px);}
    50%{transform: translateX(550px);}
    100%{transform: translateX(0px);}
}

footer{
    color: rgb(204, 203, 203);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}



