*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(11, 22, 51);
}

nav{
    background-color: rgb(1, 56, 76);

    display: flex;
    justify-content: space-around;

    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:  rgb(255, 217, 0);

    padding: 1%;

    border-bottom: 8px solid  rgb(255, 217, 0);
}

#abas li a{
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    position: relative;       
    color: rgb(255, 217, 0);
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease;

}

#abas li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;               
    width: 0%;               
    height: 4px;
    background-color:rgb(255, 217, 0);
    opacity: 0.8;
    transition: width 0.4s ease;
}

#abas li a:hover::after {
    width: 100%;
}


ul{
    display: flex;
    justify-content: space-around;
}
li{
    margin: 15px;
}
li a{
    text-decoration: none;
    color: rgb(255, 217, 0);
}


.imagens{
    background-color: gray;
    width: 100px;

    display: flex;
    flex-direction: column;
}


section{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

article{
    width: 200px;
    padding: 40px;
    text-align: justify;

    background-color: rgb(255, 236, 116);
    border-radius: 20px;
}

#conhecer{
    flex-direction: column;
}

#abas{
    list-style-type: none;
}

