*{
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
}


header{
    background-color: rgb(33, 32, 32);
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}


#profile{
    width: 50px;
    height: 50px;

    border-radius: 50%;
    margin-left: 15px;
}

#logo-icon{
    margin-right: 15px;
}


#options ul{
    display: flex;
    justify-content: space-around;
}
#options ul li{
    margin-left: 15px;
    list-style-type: none;
}

#options ul li a{
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    position: relative;       
    color: #ffffff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease;

}

#options ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;               
    width: 0%;               
    height: 4px;
    background-color: #ff0000;
    opacity: 0.8;
    transition: width 0.4s ease;
}

#options ul li a:hover::after {
    width: 100%;
}

#logo-icon{
    width: 100px;
    height: auto;
}




table{
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px 30px;

    margin-top: 50px;

    background-color: rgb(33, 32, 32);
    padding: 15px;
    border-radius: 10px;
}

#td-sem-nada{
    background-color: rgb(33, 32, 32);
}

td{
    
    background-color: rgb(23, 23, 23);
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}

td a{
    text-decoration: none;
    color:  rgb(191, 0, 0);
    font-weight: bold;
}

.movie-image:hover{
    transform: scale(1.05);
    transition: ease-in;
    animation: evaluation 3s infinite;
}
@keyframes evaluation{
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}

.movie-image{
    width: 200px;
    height: 350px;
    border-radius: 6px;
    opacity: 0.9;
}




footer{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    opacity: 0.8;
    margin-top: 50px;
    margin-bottom: 30px;
}

