:root {
  --primary-bgcolor: #161616;
  --secondary-bgcolor: #2a2a2a;
  --text-color: #FFF;
}

.light-theme {
  --primary-bgcolor: #d8d8d8;
  --secondary-bgcolor: #b1b1b1;
  --text-color: #000;
}

#theme-toggle-button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background-color: var(--primary-bgcolor);
  color: var(--text-color);
}